	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/mitino_abc_school/sch" >
					<i class="icon ion-android-calendar" ></i>
					<p>{{ "Расписание" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/mitino_abc_school/pos" >
					<i class="icon ion-android-contacts" ></i>
					<p>{{ "Посещаемость" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/mitino_abc_school/pay" >
					<i class="icon ion-cash" ></i>
					<p>{{ "Оплаты" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/mitino_abc_school/prof" >
					<i class="icon ion-android-contact" ></i>
					<p>{{ "Профиль" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-bg ink"  ng-href="#/mitino_abc_school/games" >
					<i class="icon ion-ios-game-controller-b" ></i>
					<p>{{ "Развлечения" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
