	<ion-view view-title=" Расписание" hide-nav-bar="true" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Расписание</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-sch" class="page-sch">
		<iframe data-tap-disabled="true" class="fullscreen" src="http://mitino.school-abc.ru/class-schedule/view-schedule
" width="100%" height="100%" ></iframe>
		</ion-content>
		<!-- ./content -->
	</ion-view>
