<ion-tabs class="tabs-striped  tabs-icon-top tabs-background-light tabs-color-balanced-900" data-ink-opacity=".35" >
	<ion-tab class="{{ hide_menu_sch }} menu-sch" title="{{ 'Расписание' | translate }}" icon-off="ion-ios-alarm" icon-on="ion-ios-alarm" ui-sref="mitino_abc_school.sch" >
		<ion-nav-view animation="none" name="mitino_abc_school-sch"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_pos }} menu-pos" title="{{ 'Посещаемость' | translate }}" icon-off="ion-ios-briefcase" icon-on="ion-ios-briefcase" ui-sref="mitino_abc_school.pos" >
		<ion-nav-view animation="none" name="mitino_abc_school-pos"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_pay }} menu-pay" title="{{ 'Оплаты' | translate }}" icon-off="ion-card" icon-on="ion-card" ui-sref="mitino_abc_school.pay" >
		<ion-nav-view animation="none" name="mitino_abc_school-pay"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_pro }} menu-pro" title="{{ 'Профиль' | translate }}" icon-off="ion-android-person" icon-on="ion-android-person" ui-sref="mitino_abc_school.pro" >
		<ion-nav-view animation="none" name="mitino_abc_school-pro"></ion-nav-view>
	</ion-tab>
	<ion-tab class="{{ hide_menu_games }} menu-games" title="{{ 'Развлечения' | translate }}" icon-off="ion-ios-game-controller-b" icon-on="ion-ios-game-controller-b" ui-sref="mitino_abc_school.games" >
		<ion-nav-view animation="none" name="mitino_abc_school-games"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-about_us" title="About Us"  ui-sref="mitino_abc_school.about_us"  >
		<ion-nav-view animation="none" name="mitino_abc_school-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashboard" title="Dashboard"  ui-sref="mitino_abc_school.dashboard"  >
		<ion-nav-view animation="none" name="mitino_abc_school-dashboard"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-login" title="Вход"  ui-sref="mitino_abc_school.login"  >
		<ion-nav-view animation="none" name="mitino_abc_school-login"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_one" title="Menu One"  ui-sref="mitino_abc_school.menu_one"  >
		<ion-nav-view animation="none" name="mitino_abc_school-menu_one"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-menu_two" title="Menu Two"  ui-sref="mitino_abc_school.menu_two"  >
		<ion-nav-view animation="none" name="mitino_abc_school-menu_two"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-prof" title="Профиль"  ui-sref="mitino_abc_school.prof"  >
		<ion-nav-view animation="none" name="mitino_abc_school-prof"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-slide_tab_menu" title="Menu"  ui-sref="mitino_abc_school.slide_tab_menu"  >
		<ion-nav-view animation="none" name="mitino_abc_school-slide_tab_menu"></ion-nav-view>
	</ion-tab>
</ion-tabs>
