	<ion-view view-title=" Вход" hide-nav-bar="true" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Вход</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-login" class="page-iframe page-login">
		<iframe data-tap-disabled="true" class="fullscreen" src="http://mitino.school-abc.ru/users/login" width="100%" height="100%" ></iframe>
		</ion-content>
		<!-- ./content -->
	</ion-view>
